<!DOCTYPE html>
    <div class="jarviswidget jarviswidget-color-blue" id="detailsWidget" data-widget-editbutton="false"
         data-widget-deletebutton="false" data-widget-collapsed="false" data-widget-fullscreenbutton="false"
         style="display: none;" th:fragment="detailsContainerFragment" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org">
        <header>
            <span class="widget-icon"> <i class="fa fa-info"></i> </span>

            <h2 th:text="#{load.details}">  </h2>
            <div class="cirrus-widget-toolbar" role="menu">
                <a class="btn btn-default btn-xs configurer-btn" rel="tooltip" data-placement="top" data-original-title="Configure form"><i class="personalisation-btn fa fa-cog"></i> </a>
            </div>
        </header>
        <div>
            <div class="widget-body contentDetail">

            </div>
        </div>
</div>