<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8" xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9" xmlns="http://www.w3.org/1999/xhtml"
                     xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                         xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head th:include="templates/application :: headFragment"/>


<body>

<div class="wrapper">
    <!--=== Header ===-->
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-right">
                    <li>
                        <i class="fa fa-globe"></i>
                        <a>Languages</a>
                        <ul class="lenguages">
                            <li class="active">
                                <a href="#">English <i class="fa fa-check"></i></a>
                            </li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">German</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>
                    <li><a href="#" data-content-load="template/profile">Min profil</a></li>
                    <li class="topbar-devider"></li>
                    <li><a href="page_login.html">Login</a></li>
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->

        <!-- Navbar -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="index.html" style="top:-25px">
                        <img id="logo-header" alt="" src="/common-web/resources/assets/img/logo_7klick-2.png" style="
    height: 43px;
    width: 41px;
"/>Klick
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->

            </div>
        </div>
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->

    <!--=== Content Part ===-->
    <div id="main-content" class="container">
        <div class="row">
            <div class="col-md-9">
                <!-- Our Services -->
                <div><h2></h2></div>
                <div class="row margin-bottom-10">
                    <div class="col-md-4 col-sm-4">
                        <div class="servive-block servive-block-default">
                            <i class="icon-custom icon-color-dark rounded-x fa fa-lightbulb-o"></i>
                            <h2 class="heading-md">Informations text</h2>
                            <p>Något som visualiserar att användaren är 7 klick från att finnas tillgänglig på arbetsmarknaden</p>
                            <img  alt="" src="/common-web/resources/assets/img/icon_covering.png"/>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1">&nbsp;</div>
                    <div class="col-md-4 col-sm-4">
                        <div class="">
                            <div class="upload-cv-section">

                                <h3>Ladda upp CV <span class="color-red">*</span>
                                    <span class="filename-content">    <span class="fileinput-filename" style="font-size:13px"></span></span></h3>

                                <label class="fileinput fileinput-new input-group" data-provides="fileinput" style="border-left:1px solid #ccc;">
                                    <div class="form-control file-upload" data-trigger="fileinput" style="display: none">
                                        <i class="glyphicon glyphicon-file fileinput-exists"></i> </div>
                                    <span class="input-group-addon btn btn-default btn-file" >
                                        <span class="fileinput-new" >
                                            Välj från dator &nbsp;<i class="fa fa-hdd-o"></i></span><span class="fileinput-exists">Ändra</span><input id="fileUpload" type="file" name="..."  accept=".docx, .pdf, .rtf, .txt"/></span>
                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput">Ta bort</a>
                                </label>
                                <div class="btn-group">
                                    <a href="#" style="color:blue">
                                        <i class="fa fa-dropbox"></i> <span style="color:grey">Dropbox&nbsp;&nbsp;&nbsp;</span></a>
                                </div>
                                <div class="btn-group">
                                    <a href="#" style="color:red">
                                        <i class="fa fa-google-plus"></i><span style="color:grey">&nbsp;Google drive</span></a>
                                </div>
                            </div>
                            <hr/>
                            <div class="signin-section">
                                <h3>Välj inloggningssätt <span class="color-red">*</span></h3>
                                <label class="input">
                                    <div class="btn-group">
                                        <a href="#" style="color:blue">
                                            <i class="fa fa-linkedin"></i> <span style="color:grey">Linked in&nbsp;&nbsp;&nbsp;</span></a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="#" style="color:red">
                                            <i class="fa fa-google-plus"></i><span style="color:grey">&nbsp;Google drive</span></a>
                                    </div>


                                </label>


                                <div class="input-group margin-bottom-20">
                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                    <input type="text" class="form-control" placeholder="Email"/>
                                </div>
                                <div class="input-group margin-bottom-20">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="text" class="form-control" placeholder="Password"/>
                                </div>
                                <label class="checkbox">
                                    <input type="checkbox" checked="true"/>
                                    <p>Jag godkänner <a target="_blank" href="page_terms.html">7 Klicks regler och vilkor</a></p>
                                </label>

                                <div class="row">
                                    <div class="col-md-10 col-md-offset-1">
                                        <button type="submit" class="btn-u btn-block">Register</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>                <!-- End Our Services -->

            </div><!--/col-md-9-->
        </div><!--/row-->

    </div><!--/container-->
    <!--=== End Content Part ===-->
</div><!--/wrapper-->

<!-- JS Global Compulsory -->
<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/plugins/jquery-1.10.2.min.js}"></script>
<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/plugins/jquery-migrate-1.2.1.min.js}"></script>
<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/plugins/bootstrap/js/bootstrap.min.js}"></script>
<!-- JS Implementing Plugins -->
<script type="text/javascript" th:src="@{~/common-web/resources/assets/plugins/typeahead/typeahead.min.js}"></script>
<script type="text/javascript" th:src="@{~/common-web/resources/assets/plugins/select2/js/select2.min.js}"></script>

<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/plugins/counter/waypoints.min.js}"></script>
<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/plugins/counter/jquery.counterup.min.js}"></script>

<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/plugins/back-to-top.js}"></script>
<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/plugins/flexslider/jquery.flexslider-min.js}"></script>
<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/plugins/fancybox/source/jquery.fancybox.pack.js}"></script>
<!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/plugins/revolution-slider/examples/rs-plugin/js/jquery.themepunch.plugins.min.js}"></script>
<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/plugins/revolution-slider/examples/rs-plugin/js/jquery.themepunch.revolution.min.js}"></script>
<!-- JS Page Level -->
<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/js/app.js}"></script>
<script type="text/javascript" th:src="@{~/common-web/resources/assets/unify/js/pages/index.js}"></script>
<script th:src="@{~/common-web/resources/assets/jasny/js/jasny-bootstrap.min.js}"></script>
<script th:inline="javascript">
    /*<![CDATA[*/
    jQuery(document).ready(function() {
        App.init();
        App.initFancybox();
        Index.initRevolutionSlider();
        $('*[data-poload]').bind('click',function() {
            var e=$(this);
            e.unbind('click');
            $.get(e.data('poload'),function(d) {
                e.popover({content: d,  html:"true", placement:"bottom", container:"body"}).popover('show');
                $(".popover").css("z-index","1000000");
            });
        });


        $('*[data-content-load]').bind('click',function() {
            var e=$(this);
            e.unbind('click');
            $.get(e.data('content-load'),function(d) {
                $("#main-content").html(d);
            });
        });

        $("#searchJobType").select2({
            placeholder:"t.ex. Marknadschef",
            data:[{id:0,text:'Key Account Manager'},{id:1,text:'Java Utvecklare'},{id:2,text:'Senior Testledare'},{id:3,text:'Junior .NET utvecklare'},{id:4,text:'Gruppchef Lanstinget Örebro'}]
        });

        $("#searchJobLocation").select2({
            placeholder:"t.ex. Stockholm",
            data:[{id:0,text:'Arvika'},{id:1,text:'Båstad'},{id:2,text:'Linköping'},{id:3,text:'Malmö'},{id:4,text:'Östersund'}]
        });
        $("#fileUpload").on("change", function(){
            if($(this).val().length<1){
                $('.filename-placeholder').hide();
            }else{


                $('.filename-placeholder').show();
                $('.filename-content').html("<br/><span class='filename-placeholder' style='color:blue;font-size: 12px'>Filnamn:"+$(this).val().replace('C:\\fakepath\\','')+"</span>");
            }
        });
    });
    function showRegistrationPopup(){
        $("#modalRegistration").modal("show");
    }
    function mongo(){
        $('#test').focus().trigger('click');
    }
    /*]]>*/
</script>

<!--[if lt IE 9]>
<script th:src="@{~/common-web/resources/assets/unify/plugins/respond.js}"></script>
<![endif]-->



</body>
<div th:include="templates/modal :: modalFragment" class="modal fade in" id="modalRegistration"/>
</html>	