<div xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org" th:fragment="documentListingFragment">
<div class="comment" >
    <div class="overflow-h">
        <strong>CV_2013121_BenBensson<small class="pull-right"><a href="#"><i class="icon-feed"></i> Aktivera</a> | <a href="#"><i class="glyphicon glyphicon-remove"></i> Ta bort</a></small></strong>
        <p>Kronologiskt CV</p>
        <ul class="list-inline comment-list">
            <li>Skapat: 2014-11-11</li>
            <li><i class="fa fa-heart"></i> <a href="#" alt="Viewed">42</a> besökare</li>
        </ul>
    </div>
</div>
<div class="comment">
    <div class="overflow-h">
        <strong>BenBensson_TeknikFokus_CV<small class="pull-right"><a href="#"><i class="icon-feed"></i> Aktivera</a> | <a href="#"><i class="glyphicon glyphicon-remove"></i> Ta bort</a></small></strong>
        <p>CV med tekniska meriter</p>
        <ul class="list-inline comment-list">
            <li>Skapat: 2014-11-22</li>
            <li><i class="fa fa-heart"></i> <a href="#" alt="Viewed">23</a> besökare</li>
        </ul>
    </div>
</div>
<div class="comment">
    <div class="overflow-h">
        <strong>CV_Layout_Ny_BenBensson<small class="pull-right"><a href="#"><i class="icon-feed"></i> Aktivera</a> | <a href="#"><i class="glyphicon glyphicon-remove"></i> Ta bort</a></small></strong>
        <p>Uppdaterad layout efter återkoppling av rekryterare</p>
        <ul class="list-inline comment-list">
            <li>Skapat: 2014-10-10</li>
            <li><i class="fa fa-heart"></i> <a href="#" alt="Viewed">72</a> besökare</li>
        </ul>
    </div>
</div>

<div class="comment">

    <div class="overflow-h">
        <strong>Taylor Lee<small class="pull-right"> 25m</small></strong>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="list-inline comment-list">
            <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
            <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
        </ul>
    </div>
</div>
<div class="comment">

    <div class="overflow-h">
        <strong>Miranda Clarsson<small class="pull-right"> 44m</small></strong>
        <p>Donec cursus, orci non posuere luctus, risus massa luctus nisi, sit amet cursus leo massa id arcu. Nunc tincidunt magna sit amet sapien congue.</p>
        <ul class="list-inline comment-list">
            <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
            <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
        </ul>
    </div>
</div>
<div class="comment">

    <div class="overflow-h">
        <strong>Natasha Kolnikova<small class="pull-right"> 7h</small></strong>
        <p>Suspendisse est est, sollicitudin eget auctor et, pharetra eu sapien. Mauris mollis libero ac auctor iaculis.</p>
        <ul class="list-inline comment-list">
            <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
            <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
        </ul>
    </div>
</div>
<div class="comment">

    <div class="overflow-h">
        <strong>Mikel Andrews<small class="pull-right"> 15h</small></strong>
        <p>Nam ut dolor cursus nibh aliquet bibendum in eget risus.</p>
        <ul class="list-inline comment-list">
            <li><i class="fa fa-heart"></i> <a href="#">20</a></li>
            <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
        </ul>
    </div>
</div>
<div class="comment">

    <div class="overflow-h">
        <strong>Edward Rooster<small class="pull-right"> 1d</small></strong>
        <p>Nam ut dolor cursus nibh aliquet bibendum in eget risus. Mauris mollis libero ac auctor iaculis.</p>
        <ul class="list-inline comment-list">
            <li><i class="fa fa-heart"></i> <a href="#">23</a></li>
            <li><i class="fa fa-comments"></i> <a href="#">5</a></li>
        </ul>
    </div>
</div>
    </div>