<div class="panel-group acc-v1" id="accordion-1"  xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion-1" href="#collapse-One">
                    Inloggningsuppgifter
                </a>
            </h4>
        </div>
        <div id="collapse-One" class="panel-collapse collapse in">
            <div class="panel-body">
                <form action="" id="sky-form1" class="" novalidate="novalidate">
                    <fieldset>

                        <section>
                            <div class="row">
                                <div class="col col-md-12">
                                    <label class="input">
                                        <input class="form-control input-sm" type="email" placeholder="Email"/>
                                    </label>
                                </div>
                            </div>
                        </section>

                        <section>
                            <div class="row">
                                <div class="col col-md-12">
                                    <label class="input">
                                        <input class="form-control input-sm" type="password" placeholder="Lösenord"/>
                                    </label>
                                </div>
                            </div>
                           </section>                    </fieldset>

                    <footer>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn-u btn-u-xs btn-green col-md-12">Logga in</button>
                            </div>
                        </div>
                    </footer>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="note"><a href="#sky-form2" class="modal-opener">Glömt lösenord?</a></div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <button class="btn-u btn-u-xs btn-u-blue btn btn-block btn-xs btn btn-block sevenklick-create-account">
        Bli medlem
    </button>

    <div class="reg-block-header">
        <p>Eller logga in med socialt nätverk</p>
        <ul class="social-icons text-center">
            <li><a class="rounded-x social_facebook" data-original-title="Facebook" href="#"></a></li>
            <li><a class="rounded-x social_googleplus" data-original-title="Google Plus" href="#"></a></li>
            <li><a class="rounded-x social_linkedin" data-original-title="Linkedin" href="#"></a></li>
        </ul>
    </div>

</div>
<script>
    $(document).ready(function(){
        $(".sevenklick-create-account").on("click", function(){
            showRegistrationPopup();
        });
    });
</script>