<!--=== Profile ===-->
<div class="profile container" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org" th:fragment="profileFragment">
<div th:include="application :: userContextFragment"/>

<div class="row">
<!--Left Sidebar-->
<div class="profile">
<div class="container">

<div class="row">

    <!--Left Sidebar-->

<!--End Left Sidebar-->
<!--Profile Body-->
<div class="col-md-10">
<!--Profile Body-->
<div class="profile-body">
<div class="profile-bio">
    <div class="row">

        <div class="col-md-4">
            <img class="img-responsive profile-img margin-bottom-20" src="/common-web/resources/assets/unify/img/testimonials/user.jpg" alt=""><a href="#">Byt profil bild</a></img>
            <a class="btn-u btn-u-sm btn-u-blue" href="#">Change Picture</a>
        </div>
        <div class="col-md-8">
            <h2><span class="lblName">Pierre Petersson</span> <span class="editProfile pull-right"><i class="fa fa-pencil"></i></span></h2>
            <h7><span class="lblJobTitle" style="display: inline!important;">Software Architect, <span class="lblCity" style="display: inline!important;">Stockholm</span>, <span class="lblCountry" style="display: inline!important;">Sweden</span></span></h7>
            <hr/>

            <p>I want to use my knowledge and experience in software development to develop next generation of applications and to improve existing applications. I am quick learner and I love to look at new technology.

                I have long experience in building application framework based on open-source technoloiges.

                Two years of experience within C# and .NET.

                I am senior Systems Architect, using open source frameworks to build Micro Services based architecture.</p>
        </div>
    </div>
</div><!--/end row-->
    <div class="panel panel-profile">
        <div class="panel-heading overflow-h">
            <h2 class="panel-title heading-sm pull-left"><i class="icon-folder-alt"></i> Min profil </h2>

            <a href="#" class="lnkAccountSettings"><i class="fa fa-pencil pull-right"></i></a>
        </div>
        <div class="panel-body margin-bottom-10 pnlAccountSettings">
        <div class="tab-v1">
        <ul class="nav nav-justified nav-tabs">
            <li class="active"><a data-toggle="tab" href="#manageCV">Hantera CV</a></li>
            <li ><a data-toggle="tab" href="#manageProfile">Kontoinställningar</a></li>
            <li><a data-toggle="tab" href="#managePassword">Byta lösenord</a></li>
            <li><a data-toggle="tab" href="#manageNotifications">Notifieringar</a></li>
        </ul>
        <div class="tab-content">


            <div th:replace="templates/manage-cv :: manageCVFragment"/>

            <div id="manageProfile" class="profile-edit tab-pane ">
                <form action="" id="formManageProfile" class="sky-form" novalidate="novalidate">
                        <div class="row">
                            <section class="col col-4">
                                <label class="label">Användarnamn</label>
                                <label class="input">
                                    <i class="icon-append fa fa-envelope"></i>
                                    <input type="email" name="email" placeholder="" disabled="disabled" value="pierre.p@gmail.com"/>
                                </label>
                            </section>

                            <section class="col col-4">
                                <label class="label">Förnamn</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="firstName" placeholder="Ange ditt förnamn"/>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Efternamn</label>
                                <label class="input">
                                    <i class="icon-append fa fa-user"></i>
                                    <input type="text" name="lastName" placeholder="Ange ditt efternamn"/>
                                </label>
                            </section>
                        </div>
                        <div class="row">

                            <section class="col col-4">
                                <label class="label">Telefonnummer</label>
                                <label class="input">
                                    <i class="icon-append fa fa-globe"></i>
                                    <input type="text" name="phonenumber" placeholder="Telefonnummer"/>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Stad</label>
                                <label class="input">
                                    <i class="icon-append glyphicon glyphicon-map-marker"></i>
                                    <input type="text" name="city" placeholder="Ange din stad"/>
                                </label>
                            </section>
                            <section class="col col-4">
                                <label class="label">Födelsår</label>
                                <label class="select">
                                    <select name="yearOfBirth">
                                        <option value="0">Ange födelsår</option>
                                        <option value="2000">2000</option>
                                        <option value="1999">1999</option>
                                        <option value="1998">1998</option>
                                        <option value="1997">1997</option>
                                    </select>
                                    <i></i>
                                </label>
                            </section>

                        </div>

                    <footer>
                        <div class="pull-right">
                        <button type="submit" class="btn-u btn-u-blue">Spara</button>
                        </div>
                    </footer>
                </form>
        </div>

        <div id="managePassword" class="profile-edit tab-pane fade">
            <h2 class="heading-md">Manage your Security Settings</h2>
            <p>Change your password.</p>
            <br/>
            <form class="sky-form" id="sky-form4" action="" novalidate="novalidate">
                <dl class="dl-horizontal">
                    <dt>Username</dt>
                    <dd>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-user"></i>
                                <input type="text" placeholder="Username" name="username"/>
                                <b class="tooltip tooltip-bottom-right">Needed to enter the website</b>
                            </label>
                        </section>
                    </dd>
                    <dt>Email address</dt>
                    <dd>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-envelope"></i>
                                <input type="email" placeholder="Email address" name="email"/>
                                <b class="tooltip tooltip-bottom-right">Needed to verify your account</b>
                            </label>
                        </section>
                    </dd>
                    <dt>Enter your password</dt>
                    <dd>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" id="password" placeholder="Password" name="password"/>
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </label>
                        </section>
                    </dd>
                    <dt>Confirm Password</dt>
                    <dd>
                        <section>
                            <label class="input">
                                <i class="icon-append fa fa-lock"></i>
                                <input type="password" placeholder="Confirm password" name="passwordConfirm"/>
                                <b class="tooltip tooltip-bottom-right">Don't forget your password</b>
                            </label>
                        </section>
                    </dd>
                </dl>
                <label class="toggle toggle-change"><input type="checkbox" checked="" name="checkbox-toggle-1"/><i></i>Remember password</label>
                <br/>
                <section>
                    <label class="checkbox"><input type="checkbox" id="terms" name="terms"/><i></i><a href="#">I agree with the Terms and Conditions</a></label>
                </section>
                <button type="button" class="btn-u btn-u-default">Cancel</button>
                <button class="btn-u" type="submit">Save Changes</button>
            </form>


        </div>
        <div id="manageNotifications" class="profile-edit tab-pane fade">
            <h2 class="heading-md">Manage your Notifications.</h2>
            <p>Below are the notifications you may manage.</p>
            <br/>
            <form class="sky-form" id="sky-form" action="">
                <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"/><i></i>Email notification</label>
                <hr/>
                <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"/><i></i>Send me email notification when a user comments on my blog</label>
                <hr/>
                <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"/><i></i>Send me email notification for the latest update</label>
                <hr/>
                <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"/><i></i>Send me email notification when a user sends me message</label>
                <hr/>
                <label class="toggle"><input type="checkbox" checked="" name="checkbox-toggle-1"/><i></i>Receive our monthly newsletter</label>
                <hr/>
                <button type="button" class="btn-u btn-u-default">Reset</button>
                <button class="btn-u" type="submit">Save Changes</button>
            </form>
        </div>
        </div>
        </div>
        </div>
    </div>


<!--Timeline Experience-->
<div class="panel panel-profile" style="display:none">
    <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-briefcase"></i> Erfarenhet</h2>
        <a href="#"><i class="fa fa-cog pull-right"></i></a>
    </div>
    <div class="panel-body margin-bottom-40">
        <ul class="timeline-v2 timeline-me">
            <li>
                <time datetime="" class="cbp_tmtime"><span>Mobile Design</span> <span>2012 - Current</span></time>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel">
                    <h2>BFC NYC Partners</h2>
                    <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                </div>
            </li>
            <li>
                <time datetime="" class="cbp_tmtime"><span>Web Designer</span> <span>2007 - 2012</span></time>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel">
                    <h2>Freelance</h2>
                    <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.</p>
                </div>
            </li>
            <li>
                <time datetime="" class="cbp_tmtime"><span>Photodesigner</span> <span>2003 - 2007</span></time>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel">
                    <h2>Toren Condo</h2>
                    <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--End Timeline-->

<!--Timeline Education-->
<div class="panel panel-profile" style="display:none">
    <div class="panel-heading overflow-h">
        <h2 class="panel-title heading-sm pull-left"><i class="fa fa-mortar-board"></i> Utbildning</h2>
        <a href="#"><i class="fa fa-cog pull-right"></i></a>
    </div>
    <div class="panel-body">
        <ul class="timeline-v2 timeline-me">
            <li>
                <time datetime="" class="cbp_tmtime"><span>Bachelor of IT</span> <span>2003 - 2000</span></time>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel">
                    <h2>Harvard University</h2>
                    <p>Winter purslane courgette pumpkin quandong komatsuna fennel green bean cucumber watercress. Peasprouts wattle seed rutabaga okra yarrow cress avocado grape.</p>
                </div>
            </li>
            <li>
                <time datetime="" class="cbp_tmtime"><span>Web Design</span> <span>1997 - 2000</span></time>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel">
                    <h2>Imperial College London</h2>
                    <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce.</p>
                </div>
            </li>
            <li>
                <time datetime="" class="cbp_tmtime"><span>High School</span> <span>1988 - 1997</span></time>
                <i class="cbp_tmicon rounded-x hidden-xs"></i>
                <div class="cbp_tmlabel">
                    <h2>Chicago High School</h2>
                    <p>Caulie dandelion maize lentil collard greens radish arugula sweet pepper water spinach kombu courgette lettuce. Celery coriander bitterleaf epazote radicchio shallot.</p>
                </div>
            </li>
        </ul>
    </div>
</div>
<!--End Timeline-->

<div class="row">

        <!--Skills-->
        <div class="col-sm-12 sm-margin-bottom-30" style="display:none">
            <div class="panel panel-profile">
                <div class="panel-heading overflow-h">
                    <h2 class="panel-title heading-sm pull-left"><i class="fa fa-lightbulb-o"></i> Skills</h2>
                    <a href="#"><i class="fa fa-cog pull-right"></i></a>
                </div>
                <div class="panel-body">
                    <small>HTML/CSS</small>
                    <small>92%</small>
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 92%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="92" role="progressbar" class="progress-bar progress-bar-u">
                        </div>
                    </div>

                    <small>Photoshop</small>
                    <small>77%</small>
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 77%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="77" role="progressbar" class="progress-bar progress-bar-u">
                        </div>
                    </div>

                    <small>PHP</small>
                    <small>85%</small>
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 85%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="85" role="progressbar" class="progress-bar progress-bar-u">
                        </div>
                    </div>

                    <small>Javascript</small>
                    <small>81%</small>
                    <div class="progress progress-u progress-xxs">
                        <div style="width: 81%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="81" role="progressbar" class="progress-bar progress-bar-u">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--End Skills-->

    <!--End Social Contacts v2-->

    <!--End Design Skills-->
</div><!--/end row-->
</div>
<!--End Profile Body-->
</div>

<!--End Profile Body-->

</div><!--/end row-->
</div><!--/container-->
</div>
</div>
    <script th:inline="javascript">
    /*<![CDATA[*/

    $(document).ready(function() {
        App.init();
        App.initCounter();
        //Datepicker.initDatepicker();
        $('.contentHolder').perfectScrollbar();
        $(".lnkAccountSettings").on("click", function(){
            $(".pnlAccountSettings").slideToggle();
        });
    });
    /*]]>*/
</script>

</div><!--/container-->
<!--=== End Profile ===-->
