        <div th:fragment="registerFragment" class="row" xmlns="http://www.w3.org/1999/xhtml"
             xmlns:th="http://www.thymeleaf.org">
            <div class="col-md-12">
                <!-- Our Services -->
                <div><h2></h2></div>
                <div class="row margin-bottom-10">
                <p style="margin-left: 76px;" id="step-progress"><span class="badge rounded-4x badge-u step-counter">7</span> Klick från att bli medlem</p>
                    <div class="visible-lg col-md-4 col-sm-4">

                        <div class="servive-block servive-block-default">
                            <i class="icon-custom icon-color-dark rounded-x fa fa-lightbulb-o"></i>
                            <h2 class="heading-md">Informations text</h2>
                            <p>Något som visualiserar att användaren är 7 klick från att finnas tillgänglig på arbetsmarknaden</p>
                            <img  alt="" src="/common-web/resources/assets/img/icon_covering.png"/>
                        </div>
                    </div>
                    <form id="fileCVUpload" class="sky-form" enctype="multipart/form-data" method="post" action="uploadFile" style="border: 0px">
                    <div class="col-md-5">

                        <ul class="timeline-v2">

                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Steg 1/4</span> <span> Obligatoriskt</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs step-dot-disabled step-dot-one"></i>
                                <div class="cbp_tmlabel step-one-user">
                                    <h3>Ladda upp CV <span class="color-red">*</span>
                                        <span class="filename-content">    <span class="fileinput-filename" style="font-size:13px"></span></span></h3>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="upload-cv-section">
                                                    <label class="fileinput fileinput-new input-group" data-provides="fileinput" style="border-left:1px solid #ccc;">
                                                    <div class="form-control file-upload" data-trigger="fileinput" style="display: none">
                                                        <i class="glyphicon glyphicon-file fileinput-exists"></i> </div>
                                    <span class="input-group-addon btn btn-default btn-file" >
                                        <span class="fileinput-new" >
                                            Välj från dator &nbsp;<i class="fa fa-hdd-o"></i></span><span class="fileinput-exists">Ändra</span>

                                        <input id="fileUpload" type="file" name="file"  accept=".docx, .pdf, .rtf, .txt"/></span>
                                                    <a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput" style="color:#b3b3b3;">Ta bort</a>
                                                </label>
                                                <p>Eller ladda upp från</p>
                                                <div class="btn-group">
                                                    <a href="#" style="color:blue">
                                                        <i class="fa fa-dropbox"></i> <span style="color:grey">Dropbox&nbsp;&nbsp;&nbsp;</span></a>
                                                </div>
                                                <div class="btn-group">
                                                    <a href="#" style="color:red">
                                                        <i class="fa fa-google-plus"></i><span style="color:grey">&nbsp;Google drive</span></a>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Steg 2/4</span> <span>Obligatoriskt</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs step-dot-disabled step-dot-two"></i>
                                <div class="cbp_tmlabel step-two-user " style="opacity: 0.2;">
                                    <h3>Logga in <span class="color-red">*</span></h3>
                                    <p></p>
                                    <div class="row">
                                        <div class="col-md-12 col-sm-12">
                                            <div class="signin-section">

                                                <div class="input-group margin-bottom-20">
                                                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                                    <input type="email" class="form-control" id="email" name="email" placeholder="Email"/>
                                                </div>
                                                <div class="input-group margin-bottom-20">
                                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="true"/>
                                                </div>

                                                <p>Eller logga in med</p>

                                                <label class="input">
                                                    <div class="btn-group">

                                                        <a href="#" style="color:blue" id="signOnLinkedIn">

                                                            <i class="fa fa-linkedin"></i> <span style="color:grey">Linked in&nbsp;&nbsp;&nbsp;</span></a>
                                                    </div>
                                                    <div class="btn-group">
                                                        <a href="#" style="color:blue" id="signOnFacebook">
                                                            <i class="fa fa-facebook"></i><span style="color:grey">&nbsp;Facebook</span></a>
                                                    </div>

                                                    <div class="btn-group">
                                                        <a href="#" style="color:red" id="signOnGmail">
                                                            <i class="fa fa-google-plus"></i><span style="color:grey">&nbsp;Google mail</span></a>
                                                    </div>


                                                </label>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Steg 3/4</span> <span>Frivilligt</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs step-dot-disabled step-dot-three"></i>
                                <div class="cbp_tmlabel step-three-user" style="opacity: 0.2;" >
                                    <h3>Har du eller är du påväg att ta examen? Välj skola</h3>
                                    <div class="row">

                                        <div class="col-md-12">
                                            <div class="school-section">
                                                <div class="input-group margin-bottom-20">
                                                    <span class="input-group-addon"><i class="fa fa-mortar-board"></i></span>
                                                    <select id="school" name="school" class="form-control">
                                                        <option value="-1">Välj skola</option>
                                                        <option value="1">Jag har ingen examen</option>
                                                        <option value="2">Jag har examen från annan skola</option>
                                                        <option value="3">Beckmans Designhögskola</option>
                                                        <option value="4">Berghs School of Communications</option>
                                                        <option value="5">Blekinge tekniska högskola</option>
                                                        <option value="6">Chalmers tekniska högskola</option>
                                                        <option value="7">Dans- och cirkushögskolan</option>
                                                        <option value="8">Ersta Sköndal högskola</option>
                                                        <option value="9">Förbundet S:t Lukas utbildningsinstitut</option>
                                                        <option value="10">Försvarshögskolan</option>
                                                        <option value="11">Gammelkroppa skogsskola</option>
                                                        <option value="12">Gymnastik- och idrottshögskolan</option>
                                                        <option value="13">Göteborgs universitet</option>
                                                        <option value="14">Handelshögskolan i Stockholm</option>
                                                        <option value="15">Hyper Island</option>
                                                        <option value="16">Högskolan Dalarna</option>
                                                        <option value="17">Högskolan Ericastiftelsen</option>
                                                        <option value="18">Högskolan Evidens</option>
                                                        <option value="19">Högskolan i Borås</option>
                                                        <option value="20">Högskolan i Gävle</option>
                                                        <option value="21">Högskolan i Halmstad</option>
                                                        <option value="22">Högskolan i Jönköping</option>
                                                        <option value="23">Högskolan i Skövde</option>
                                                        <option value="24">Högskolan Kristianstad</option>
                                                        <option value="25">Högskolan Väst</option>
                                                        <option value="26">Johannelunds teologiska högskola</option>
                                                        <option value="27">Karlstads universitet</option>
                                                        <option value="28">Karolinska institutet</option>
                                                        <option value="29">Konstfack</option>
                                                        <option value="30">Kungl. Konsthögskolan</option>
                                                        <option value="31">Kungl. Musikhögskolan i Stockholm</option>
                                                        <option value="32">Kungl. Tekniska högskolan (KTH)</option>
                                                        <option value="33">Linköpings universitet</option>
                                                        <option value="34">Linnéuniversitetet</option>
                                                        <option value="35">Luleå tekniska universitet</option>
                                                        <option value="36">Lunds universitet</option>
                                                        <option value="37">Malmö högskola</option>
                                                        <option value="38">Mittuniversitetet</option>
                                                        <option value="39">Mälardalens högskola</option>
                                                        <option value="40">Newmaninstitutet</option>
                                                        <option value="41">Operahögskolan i Stockholm</option>
                                                        <option value="42">Röda Korsets Högskola</option>
                                                        <option value="43">Sophiahemmet Högskola</option>
                                                        <option value="44">Stockholms Akademi för Psykoterapiutbildning</option>
                                                        <option value="45">Stockholms dramatiska högskola</option>
                                                        <option value="46">Stockholms konstnärliga högskola</option>
                                                        <option value="47">Stockholms Musikpedagogiska Institut</option>
                                                        <option value="48">Stockholms universitet</option>
                                                        <option value="49">Svenska Institutet för Kognitiv Psykoterapi</option>
                                                        <option value="50">Sveriges lantbruksuniversitet, SLU</option>
                                                        <option value="51">Södertörns högskola</option>
                                                        <option value="52">Teologiska Högskolan, Stockholm</option>
                                                        <option value="53">Umeå universitet</option>
                                                        <option value="54">Uppsala universitet</option>
                                                        <option value="55">Örebro Teologiska Högskola</option>
                                                        <option value="56">Örebro universitet</option>
                                                    </select>

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </li>


                            <li>
                                <time class="cbp_tmtime" datetime=""><span>Steg 4/4</span> <span>Obligatoriskt</span></time>
                                <i class="cbp_tmicon rounded-x hidden-xs step-dot-disabled step-dot-three"></i>
                                <div class="cbp_tmlabel step-three-user" style="opacity: 0.2;" >
                                    <div class="row">
                                        <div class="col-md-8 left">
                                            <label class="checkbox">
                                                <input id="chkTerms" type="checkbox" style="position: static"/>
                                                <p style="font-size: 12px">Jag godkänner <a target="_blank" href="page_terms.html">7 Klicks vilkor</a></p>
                                            </label>
                                        </div>

                                        <div class="col-md-4 pull-right">
                                            <button id="btnsubmit" type="submit" class="btn-u btn-u-sm btn-u-dark-blue">Bli medlem</button>
                                        </div>
                                    </div>

                                </div>
                            </li>


                        </ul>
                    </div>
                    </form>
                    <!-- FACEBOOK SIGNIN -->
                    <form name="fb_signin" id="fb_signin" th:action="@{~/authenticator/signin/facebook}" method="POST" style="display: none" onsubmit="target_popup(this)">
                        <input type="hidden" name="scope" value="publish_stream,user_photos,offline_access"/>
                        <button type="submit"></button>
                    </form>

                    <!-- LINKEDIN SIGNIN -->
                    <form name="li_signin" id="li_signin" th:action="@{~/authenticator/signin/linkedin}" method="POST"  onsubmit="target_popup(this)" style="display:none">
                        <input type="hidden" name="scope" value="r_basicprofile r_emailaddress r_network r_fullprofile rw_nus" />

                        <button type="submit">Sign In with LinkedIn</button>
                    </form>
                    <!-- FACEBOOK SIGNIN -->
                    <form name="gmail_signin" id="gmail_signin" th:action="@{~/authenticator/signin/gmail}" method="POST" style="display: none" onsubmit="target_popup(this)">
                        <input type="hidden" name="scope" value="publish_stream,user_photos,offline_access"/>
                        <button type="submit"></button>
                    </form>

                    <!-- 3. Displays a button to let the viewer authenticate -->
<!--
                    <script type="IN/Login"></script>
-->

                    <!-- 4. Placeholder for the greeting -->
                    <div id="profiles"></div>

                </div>                <!-- End Our Services -->

            </div><!--/col-md-9-->
        </div><!--/row-->
