<div class="row" th:fragment="registrationCoverLetter" xmlns="http://www.w3.org/1999/xhtml"
     xmlns:th="http://www.thymeleaf.org">
    <div class="col-md-12">
        <!-- General Unify Forms -->
        <form action="" class="sky-form">
            <header>General Unify Forms</header>

            <fieldset>
                <section>
                    <label class="label">Text input</label>
                    <label class="input">
                        <input type="text"/>
                    </label>
                </section>

                <section>
                    <label class="label">File input</label>
                    <label for="file" class="input input-file">
                        <div class="button"><input type="file" id="file" onchange="this.parentNode.nextSibling.value = this.value"/>Browse</div><input type="text" readonly=""/>
                    </label>
                </section>

                <section>
                    <label class="label">Input with autocomlete</label>
                    <label class="input">
                        <input type="text" list="list"/>
                        <datalist id="list">
                            <option value="Alexandra"></option>
                            <option value="Alice"></option>
                            <option value="Anastasia"></option>
                            <option value="Avelina"></option>
                            <option value="Basilia"></option>
                            <option value="Beatrice"></option>
                            <option value="Cassandra"></option>
                            <option value="Cecil"></option>
                            <option value="Clemencia"></option>
                            <option value="Desiderata"></option>
                            <option value="Dionisia"></option>
                            <option value="Edith"></option>
                            <option value="Eleanora"></option>
                            <option value="Elizabeth"></option>
                            <option value="Emma"></option>
                            <option value="Felicia"></option>
                            <option value="Florence"></option>
                            <option value="Galiana"></option>
                            <option value="Grecia"></option>
                            <option value="Helen"></option>
                            <option value="Helewisa"></option>
                            <option value="Idonea"></option>
                            <option value="Isabel"></option>
                            <option value="Joan"></option>
                            <option value="Juliana"></option>
                            <option value="Karla"></option>
                            <option value="Karyn"></option>
                            <option value="Kate"></option>
                            <option value="Lakisha"></option>
                            <option value="Lana"></option>
                            <option value="Laura"></option>
                            <option value="Leona"></option>
                            <option value="Mandy"></option>
                            <option value="Margaret"></option>
                            <option value="Maria"></option>
                            <option value="Nanacy"></option>
                            <option value="Nicole"></option>
                            <option value="Olga"></option>
                            <option value="Pamela"></option>
                            <option value="Patricia"></option>
                            <option value="Qiana"></option>
                            <option value="Rachel"></option>
                            <option value="Ramona"></option>
                            <option value="Samantha"></option>
                            <option value="Sandra"></option>
                            <option value="Tanya"></option>
                            <option value="Teresa"></option>
                            <option value="Ursula"></option>
                            <option value="Valerie"></option>
                            <option value="Veronica"></option>
                            <option value="Wilma"></option>
                            <option value="Yasmin"></option>
                            <option value="Zelma"></option>
                        </datalist>
                    </label>
                    <div class="note"><strong>Note:</strong> works in Chrome, Firefox, Opera and IE10.</div>
                </section>
            </fieldset>

            <fieldset>
                <section>
                    <label class="label">Select</label>
                    <label class="select">
                        <select>
                            <option value="0">Choose name</option>
                            <option value="1">Alexandra</option>
                            <option value="2">Alice</option>
                            <option value="3">Anastasia</option>
                            <option value="4">Avelina</option>
                        </select>
                        <i></i>
                    </label>
                </section>

                <section>
                    <label class="label">Multiple select</label>
                    <label class="select select-multiple">
                        <select multiple="">
                            <option value="1">Alexandra</option>
                            <option value="2">Alice</option>
                            <option value="3">Anastasia</option>
                            <option value="4">Avelina</option>
                            <option value="5">Basilia</option>
                            <option value="6">Beatrice</option>
                            <option value="7">Cassandra</option>
                            <option value="8">Clemencia</option>
                            <option value="9">Desiderata</option>
                        </select>
                    </label>
                    <div class="note"><strong>Note:</strong> hold down the ctrl/cmd button to select multiple options.</div>
                </section>
            </fieldset>

            <fieldset>
                <section>
                    <label class="label">Textarea</label>
                    <label class="textarea">
                        <textarea rows="3"></textarea>
                    </label>
                    <div class="note"><strong>Note:</strong> height of the textarea depends on the rows attribute.</div>
                </section>

                <section>
                    <label class="label">Textarea resizable</label>
                    <label class="textarea textarea-resizable">
                        <textarea rows="3" style="margin-top: 0px; margin-bottom: 0px; height: 75px;"></textarea>
                    </label>
                </section>

                <section>
                    <label class="label">Textarea expandable</label>
                    <label class="textarea textarea-expandable">
                        <textarea rows="3"></textarea>
                    </label>
                    <div class="note"><strong>Note:</strong> expands on focus.</div>
                </section>
            </fieldset>


            <footer>
                <button type="submit" class="btn-u">Submit</button>
                <button type="button" class="btn-u btn-u-default" onclick="window.history.back();">Back</button>
            </footer>
        </form>
        <!-- General Unify Forms -->

    </div>
    </div>