<div class="col-md-4 col-lg-4">
    <label>Vad?</label> Titel, bransch, företag eller nyckelord
    <div class="">
        <input type="hidden" id="searchJobType" style="width:100%" title="" class="select2-offscreen" tabindex="-1"/>
    </div>
    <!-- /input-group -->
</div>
<!-- /.col-lg-6 -->
<div class="col-md-4 col-lg-4">
    <label>Var?</label> Kommun, län eller område
    <div class="">
        <input type="hidden" id="searchJobLocation" style="width:100%" title="" class="select2-offscreen" tabindex="-1"/>
    </div>
    <!-- /input-group -->
</div>
